<div class="page_background">
  <h3>SpaceX Launch Programs</h3>
  <div class="row col-md-12">
    <div class="col-md-2">
      <div class="filter_padding space_background">
        <h5>Filters</h5>
        <h6 style="text-align: center"><span>Launch Year</span></h6>
        <hr />
        <div class="row">
          <div class="col-md-6" *ngFor="let year of years">
            <div
              class="card_background opactiy_class"
              *ngIf="!year.isSelected"
              (click)="
                spacePrograms(year.year, selectedLaunch, selectedLanding);
                clickedData(year)
              "
            >
              {{ year.year }}
            </div>
            <div class="card_background" *ngIf="year.isSelected">
              {{ year.year }}
            </div>
          </div>
        </div>
        <br />
        <h6 style="text-align: center">Successfull Launch</h6>
        <hr />
        <div class="row">
          <div class="col-md-6" *ngFor="let boolean of successFullLaunch">
            <div
              class="card_background opactiy_class"
              *ngIf="!boolean.isSelected"
              (click)="
                spacePrograms(selectedyear, boolean.data, selectedLanding);
                clickedBooleanData(boolean)
              "
            >
              {{ boolean.data }}
            </div>
            <div class="card_background" *ngIf="boolean.isSelected">
              {{ boolean.data }}
            </div>
          </div>
        </div>
        <br />
        <h6 style="text-align: center">Successfull Landing</h6>
        <hr />
        <div class="row">
          <div class="col-md-6" *ngFor="let boolean of successFullLanding">
            <div
              class="card_background opactiy_class"
              *ngIf="!boolean.isSelected"
              (click)="
                spacePrograms(selectedyear, selectedLaunch, boolean.data);
                clickedBooleanLandingData(boolean)
              "
            >
              {{ boolean.data }}
            </div>
            <div class="card_background" *ngIf="boolean.isSelected">
              {{ boolean.data }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-10">
      <div class="row col-md-12">
        <div class="col-md-3" *ngFor="let program of programs">
          <div class="space_info_class space_background">
            <div class="frame-square">
              <div class="crop">
                <img src="{{ program.links.mission_patch_small }}" />
              </div>
            </div>
            <div class="space_info_class">
              <h6 class="flight-name-color">
                <b>{{ program.mission_name }} #{{ program.flight_number }}</b>
              </h6>
              <h6><b>Mission Ids :</b></h6>
              <p *ngIf="program.mission_id.length == 0">No Mission Ids</p>
              <ul *ngIf="program.mission_id.length > 0">
                <li *ngFor="let id of program.mission_id">
                  <span class="space_mission_info_font"> {{ id }}</span>
                </li>
              </ul>
              <h6>
                <b>Launch Year : </b
                ><span class="space_mission_info_font">
                  {{ program.launch_year }}</span
                >
              </h6>
              <h6>
                <b>Successfull Launch : </b
                ><span class="space_mission_info_font">{{
                  program.launch_success
                }}</span>
              </h6>
              <h6>
                <b>Successfull Landings : </b
                ><span class="space_mission_info_font">{{
                  program.launch_landing
                }}</span>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer_class">
  <h5><b>Developed By :</b> Sudhin M</h5>
</div>
